doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p P-tag

    button#btn Click Me
    button#anotherBtn Bitch Button
    button#btn3 third button
    button#btn4 remove alert
    button#btn5 magic
    button#btn6 another damn button
    button#btn7 fucking color button

    input#tb1(type='text')

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
